@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* background: #F8F7F4; */
  /* color: #111827; */
}

/* Hide scrollbar for no-scrollbar class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}